@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background: #f2f2f2;
  color: #21242C;
  font-family: "Poppins";
}
a {
  color: #EE7290;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 20px 20px 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #21242C;
  border-bottom: 1px solid #EE7290;
}
nav a {
    margin-left: 20px;
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #21242C;
  border-top: 1px solid #EE7290;
}
H4 {
  font-weight: 300;
  font-style: italic;
}
.not-found {
  text-align: center;
}